DIV.sectiontoc {
	BORDER-RIGHT: 2px dotted; PADDING-RIGHT: 2pt; BORDER-TOP: 2px dotted; PADDING-LEFT: 2pt; PADDING-BOTTOM: 2pt; BORDER-LEFT: 2px dotted; PADDING-TOP: 2pt; BORDER-BOTTOM: 2px dotted
}
H2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #dddddd 2px solid
}
H3 {
	MARGIN-LEFT: 1em
}
H4 {
	MARGIN-LEFT: 1em
}
P {
	MARGIN-LEFT: 2em; MARGIN-RIGHT: 2em
}
lu {
	MARGIN-LEFT: 2em; MARGIN-RIGHT: 2em
}
LI {
	MARGIN-LEFT: 2em; MARGIN-RIGHT: 2em
}
TABLE {
	MARGIN-LEFT: 2em; MARGIN-RIGHT: 2em
}
DL {
	MARGIN-LEFT: 2em; MARGIN-RIGHT: 2em
}
DIV.indent {
	MARGIN-LEFT: 4em; MARGIN-RIGHT: 4em
}
DIV.code {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 2pt; BORDER-TOP: 1px solid; PADDING-LEFT: 2pt; PADDING-BOTTOM: 2pt; MARGIN-LEFT: 4em; BORDER-LEFT: 1px solid; MARGIN-RIGHT: 4em; PADDING-TOP: 2pt; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #f0ffff
}
DIV.targetlang {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 2pt; BORDER-TOP: 1px solid; PADDING-LEFT: 2pt; PADDING-BOTTOM: 2pt; MARGIN-LEFT: 4em; BORDER-LEFT: 1px solid; MARGIN-RIGHT: 4em; PADDING-TOP: 2pt; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #d7f6bb
}
DIV.shell {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 2pt; BORDER-TOP: 1px solid; PADDING-LEFT: 2pt; PADDING-BOTTOM: 2pt; MARGIN-LEFT: 4em; BORDER-LEFT: 1px solid; MARGIN-RIGHT: 4em; PADDING-TOP: 2pt; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #dcdcdc
}
DIV.diagram {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 2pt; BORDER-TOP: 1px solid; PADDING-LEFT: 2pt; PADDING-BOTTOM: 2pt; MARGIN-LEFT: 4em; BORDER-LEFT: 1px solid; MARGIN-RIGHT: 4em; PADDING-TOP: 2pt; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #ffebcd
}
UL LI P {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
OL LI P {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
DL DD P {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
DIV.indent P {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
